<!DOCTYPE html>
<html ng-app="kuwo">
<head>
	<meta charset="UTF-8">
	<title>酷我音乐</title>
	<script src="Assets/js/angular.js"></script>
	<script src="Assets/js/ngDialog.js"></script>
    <link rel="stylesheet" href="Assets/css/dialog/ngDialog.css">
    <link rel="stylesheet" href="Assets/css/dialog/ngDialog-theme-default.css">
    <link rel="stylesheet" href="Assets/css/dialog/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="Assets/css/dialog/ngDialog-custom-width.css">
	<link rel="stylesheet" href="Assets/css/main.css">
</head>
<body ng-controller="MainController">
	<div style="display:none">
		<div class="loader-pic" ng-class="{loading: loader, loaded: !loader}">
			<img src="Assets/images/top.jpg">
		</div>
	</div>
	<div class="main-header">
		<div class="login" ng-click="login()">
			<div class="logo">
				<img src="Assets/images/logo.png" alt="">
			</div>
			<span class="login-text">点击登陆</span>
		</div>
		<div class="menu">
			<ul>
				<li><a href="#/lyric">歌词MV</a></li>
				<li><a href="#/songs">曲库</a></li>
				<li><a href="#/live">直播</a></li>
				<li><a href="#/download">下载</a></li>
			</ul>
		</div>
		<div class="search">
			<input type="text" placeholder="张学友">
		</div>
		<div class="game">游戏</div>
		<div class="tools-top">
			<a href="#"><i class="fa fa-tree"></i></a>
			<a href="#" alt="贴边迷你模式"></a>
			<a href="#"><i class="fa fa-street-view"></i></a>
			<a href="#"><i class="fa fa-gear"></i></a>
			<a href="#"><i class="fa fa-minus"></i></a>
			<a href="#" alt="最大化"></a>
			<a href="#"><i class="fa fa-close"></i></a>
		</div>
	</div>
	<div class="main-content">
		<div ng-view></div>
	</div>
	<div class="main-list" ng-controller="ListController">
		<div class="list-header">
			<a href="#" ng-click="addLocalMusic()"><i class="fa fa-plus"></i>添加</a>
			<a href="#"><i class="fa fa-trash"></i>整理</a>
			<a href="#"><i class="fa fa-search"></i>查找</a>
			<a href="#"><i class="fa fa-cloud-upload"></i>同步</a>
		</div>
		<div class="list-content">
			<dl class="list-title">
				<dt><a href="#" ng-click="createPlayList()">创建列表</a></dt>
				<dd ng-click="changeList(value)" ng-repeat="(key, value) in pls">{{value.name}}</dd>
			</dl>
			<div class="list-song-js-box">
				<ul class="list-songs">
					<li data-ng-repeat="(index, val) in voices" ng-class="{on: val.on == true}">
						<a href="javascript:;" ng-click="startPlay(val)" ng-bind="val.name"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main-footer" ng-controller="ControlController">
		<div class="lin" id="lin" ng-click="jump(event)">
		<div class="redlin" id="redlin"></div>
		</div>
		<div class="song-message">
			<a href="#" class="song-pictrue">
				<img src="" alt="">
			</a>
			<a href="#" class="song-title"></a>
			<span song-time>01:23|04:0.</span>
			<a href="#" class="like"></a>
			<a href="#" class="download"></a>
			<a href="#" class="ktv"></a>
			<a href="#" class="share"></a>
		</div>
		<div class="music-controller">
			<a href="javascript:;" ng-click="prev()" class="backward fa fa-step-backward"></a>
			<a href="javascript:;" ng-click="play()" ng-show="paused" class="play fa fa-play"></a>
			<a href="javascript:;" ng-click="vm.pause()" ng-show="!paused" class="pause fa fa-pause"></a>
			<a href="javascript:;" ng-click="next()" class="forward fa fa-step-forward"></a>
			<a href="javascript:;" class="volume fa fa-volume-down"></a>
		</div>
		<div class="tools-bottom">
			<a href="javascript:;" ng-click="changeLoop()">循环</a>
			<a href="javascript:;">桌面歌词</a>
			<a href="javascript:;">工具</a>
		</div>
	</div>
	<script src="Application.js"></script>
</body>
</html>
