//output: player.html
doctype html
html
  head
    title 播放器
    meta(charset="utf-8")
    script(type="application/javascript", src="angular.js")
  body
    audio(src="Kate Miller-Heidke-Sarah.mp3") |你的浏览器不支持播放声音
    .audio
      a(id="stop" href="#") 停止
      a(id="play" href="#") 播放
    script(type="application/javascript", src="player.js")
