<!DOCTYPE html>
<html ng-app="kuwo">
  <head>
    <meta charset="utf-8">
    <title>播放器</title>
    <script src="angular.js"></script>
    <link rel="stylesheet" href="player.css">
  </head>
  <body ng-controller="MusicController">
    <div class="audio">
      <a id="stop" ng-click="pause()" href="#">停止</a>
      <a id="play" ng-click="play()" href="#">播放</a>
      <a id="next" ng-click="next()" href="#">下一曲</a>
      <a id="next" ng-click="prev()" href="#">上一曲</a>
    </div>
    <ul>
      <li data-ng-repeat="(index, val) in voices" ng-class="{on: currentPlayMusicIndex == index}">
        <a href="javascript:;" ng-click="playASong(index)" ng-bind="val.name"></a>
      </li>
    </ul>
    <div class="lin" id="lin" ng-click="jump(event)">
      <div class="redlin" id="redlin" ng-style="myColor"></div>
    </div>
    <script type="application/javascript" src="p.js"></script>
  </body>
</html>